nav.navbar 
    ul.nav 
        li.nav-item 
            a.nav-link(href='/') Documentation
        li.nav-item
            a.nav-link(href='/playground') API Playground
        li.nav-item
            a.nav-link(href='/contact') Contact

h1.heading #{title}